<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tentang Saya
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid id="grid1">
    <ion-col size="6"><br>
      <span id="judul">Game Tebak Angka</span><br><br>
      Jawaban: {{angka}}
      <br>Masukkan Tebakanmu:<br>
      <input type="text" [(ngModel)]="textjawaban"/><br>
      <ion-button (click)="Tebak()">Tebak</ion-button><br>
      <span id="tempatFoto"></span>
    </ion-col>
  </ion-grid>
</ion-content>
